<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Server=(localdb)\\mssqllocaldb;Database=AzureBootCamp;Trusted_Connection=True;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />-->

    <add name="CacheConnectionString" connectionString="azurebootcampstorageapi.redis.cache.windows.net:6380,password=pyyJDPqMJs5ODtq2L0dGf58YEsBeQt1Y2fR1fmadiM8=,ssl=True,abortConnect=False,allowAdmin=true" />

    <!--<add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />-->

    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=azurebootcampstorageapi;AccountKey=UYFvZk0JWh23MCAe4bEkcljZ0wDo7cEfgexEmdvo+6AEuhMe+Ppi0a+jCqzn03Emv0zJzwkgV+k+jsOVyyJO+w==;EndpointSuffix=core.windows.net" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\05 - Colas\AzureBootCampTickets.Web\App_Data\AzureBootCampDb.mdf';Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Server=tcp:azurebootcamptickets.database.windows.net,1433;Initial Catalog=azurebootcamptickets;Persist Security Info=False;User ID=germankuber;Password=Passw0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>